@use '../variables/color' as *;
@use '../variables/size' as *;
@use '../variables/typography' as *;

header {
  padding: 10rem 0 3rem;
  text-align: center;
  
  h1 {
    font-size: $f-4 + rem;
    font-weight: $f-regular;
    letter-spacing: $letter-5 + ch;
  }
  
  .tagline {
    font-size: $f-2 + rem;
    letter-spacing: $letter-5 + ch;
    margin-top: 0.5rem;
  }
}

#quote blockquote {
  font-size: $f-2 + rem;
  position: relative;
  letter-spacing: $letter-5 + ch;

  .decorative-quote {
    position: absolute;
    top: -14rem; // arbitrary manual alignment
    left: -5rem; // arbitrary manual alignment
    opacity: 0.1;
    font-family: $f-fam-decorative;
    font-size: $f-30 + rem;
  }
}

#work {
  h3+.project {
    margin-top : 2rem;
  }

  .project {
    text-align: center;
    margin-top: 4rem;

    .description {
      font-weight: $f-regular;
    }

    .stack {
      font-weight: $f-medium;
    }

    p {
      font-size: $f-1-2 + rem;
    }
  }
}

#contact {
  text-align: center;
  line-height: $line-150;
  letter-spacing: $letter-5 + ch;
  font-size: $f-1-5 + rem;

  // decorative @ background
  overflow: hidden;
  position: relative;

  &::before {
    content: '\0040'; // @
    position: absolute;
    opacity: 0.07;
    font-family: $f-fam-decorative;
    font-weight: $f-bold;
    z-index: -1;
    font-size: $f-51 + rem;
    top: -32rem; // arbitrary manual alignment
    
    @media (min-width: $tablet-l-lower + px) {
      font-size: $f-70 + rem;
      top: -43rem; // arbitrary manual alignment
    }
  }

  a {
    color: white;
    font-style: normal;

    &:active {
      font-weight: $f-semibold;
    }
  }
}

footer {
  .social-icons {
    display: flex;
    justify-content: center;

    li {
      list-style-type: none;
      width: 5rem;
      height: 5rem;

      &:not(:last-of-type) {
        margin-right: 1rem;
      }
      
      a {
        // alignment and bg circle
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        transition: 0.2s ease-out;

        // colors
        path {
          fill: $watermelon;
        }

        &:hover {
          background-color: $watermelon;
        
          path {
            fill: white;
          }
        }
      }
    }
  }
}
