@use '../variables/color' as *;
@use '../variables/size' as *;

header {
  padding: 10rem 0 3rem;
  text-align: center;
  
  h1 {
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 0.05ch;
  }

  .tagline {
    font-size: 2rem;
    letter-spacing: 0.04ch;
    margin-top: 0.5rem;
  }
}

#quote blockquote {
  font-size: 2rem;
  position: relative;
  line-height: 1.5;
  letter-spacing: 0.05ch;

  .decorative-quote {
    position: absolute;
    top: -14rem;
    left: -5rem;
    opacity: 0.1;
    font-family: 'Times New Roman', serif;
    font-size: 30rem;
  }
}

#work {

  h3+.project {
    margin-top : 2rem;
  }

  .project {
    text-align: center;
    margin-top: 4rem;

    .description {
      font-weight: normal;
    }

    p {
      font-size: 1.2rem;
    }
  }
}

#contact {
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.05ch;
  font-size: 1.5rem;

  // decorative @ background
  overflow: hidden;
  position: relative;

  &::before {
    font-family: 'Times New Roman', serif;
    content: '\0040';
    position: absolute;
    opacity: 0.07;
    font-family: 'Times New Roman', serif;
    font-weight: bold;
    z-index: -1;
    font-size: 51rem;
    top: -32rem;
    
    @media (min-width: $tablet-l-lower + px) {
      font-size: 70rem;
      top: -43rem;
    }
  }

  a {
    color: white;
    font-style: normal;

    &:active {
      font-weight: 600;
    }
  }
}

// TODO: font sizes go in a separate file plz

footer {
  .social-icons {
    display: flex;
    justify-content: center;

    li {
      list-style-type: none;
      width: 5rem;
      height: 5rem;

      &:not(:last-of-type) {
        margin-right: 1rem;
      }
      
      a {
        // alignment and bg circle
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        transition: 0.2s ease-out;

        // colors
        path {
          fill: $watermelon;
        }

        &:hover {
          background-color: $watermelon;
        
          path {
            fill: white;
          }
        }
      }
    }
  }
}
