// To maximise visual consistency, please reuse
// existing values from this file where possible.
// If you need a new value, add it here so it can be reused.

@use "sass:color";

$sunflower: rgb(247, 210, 6);
$watermelon: #f45;
$watermelon-dark: color.scale($watermelon, $lightness: -30%);
$watermelon-light: color.scale($watermelon, $lightness: +30%);

$body-text: color.scale($watermelon, $lightness: -90%);
$body-text-bg: rgba(255, 255, 255, 0.9);
