// To maximise visual consistency, please reuse
// existing values from this file where possible.
// If you need a new value, add it here so it can be reused.

// usage:
// flex-basis: $content-col + rem

// sizing for elements and whitespace
$size-0-4: 0.4; // rem
$size-0-5: 0.5; // rem
$size-1: 1; // rem
$size-2: 2; // rem
$size-3: 3; // rem
$size-4: 4; // rem
$size-5: 5; // rem
$size-6: 6; // rem
$size-10: 10; // rem

// layout elements
$content-col: 38; // rem


// breakpoints

// naming convention:
// l = landscape
// p = portrait
// lower = use this number with min-width
// (e.g. if we generalize that the width of a portrait tablet is 480-767px,
// 480 is the lower bound)

// usage:
// @media (min-width: $tablet-p-lower + px)
$tablet-p-lower: 480; // px
$tablet-l-lower: 768; // px
